#vue-form-gen-main {
    position: relative;
    width: 960px;
    margin: 20px auto 10px auto;
    font-family: monospace;
}
.vue-form-gen-action, .vue-form-gen-element {
    display: inline-block;
}
.vue-form-gen-element {
    width: 80%;
}
.vue-form-gen-action {
    width: 18%;
    text-align: right;
}
#vue-form-gen-main input:not([type="radio"]):not([type='checkbox']):not([type='file']) {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 30px;
}
#vue-form-gen-main button {
    padding: 7px 10px;
    border-radius: 4px;
    background-color: #efefef;
    border: 1px solid #cccccc;
    cursor: pointer;
}
.vue-form-gen-element input:not([type="radio"]):not([type='checkbox']), .vue-form-gen-element select, .vue-form-gen-element button, .vue-form-gen-element textarea {
    width: 100%;
}
.vue-form-gen-builder, .vue-form-gen-element-list {
    display: inline-block;
    vertical-align:top
}
.vue-form-gen-builder {
    width:600px;
    border-radius: 3px;
    background-color: #efefef;
    padding: 10px 10px 40px 10px;
    border: 2px solid #ffffff;
}
.vue-form-gen-drag-start {
    border: 2px dashed #bbbbbb;
}
.vue-form-gen-rendered span {
    float: left;
    width: 150px;
    line-height: 30px;
}
.vue-form-gen-rendered input:not([type='checkbox']), .vue-form-gen-rendered select {
    width: 300px;
}
.vue-form-gen-rendered input[type='checkbox'] {
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
}
.vue-form-gen-rendered {
    margin-bottom: 10px;
}
#vue-form-gen-main fieldset {
    border:1px solid #ccc;
    margin-bottom: 10px;
}
#vue-form-gen-main legend {
    padding: 0.2em 0.5em;
    border:1px solid #ccc;
    border-radius: 10px;
}
.vue-form-gen-attributes-options input {
    width: 37%;
}
.vue-form-gen-element-list{
    width:300px;
    position: fixed;
}
.vue-form-gen-element-list .vue-form-gen-draggable {
    width: 90px;
    text-align: center;
    padding: 20px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 14px;
    cursor: grab;
}
.vue-form-gen-export pre {
    padding: 10px;
    border-radius:5px;
    background-color: #dddddd;
    white-space: pre-wrap;       /* Since CSS 2.vue-form-gen-1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.vue-form-gen-5+ */
}


